
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.dark {
  --bg-black: #050505;
  --text-main: #ffffff;
  --text-sub: #e6e6e6;
  --band: #7e6a5d;
  --icon-bg: #7e6a5d;
}

body.light {
  --bg-black: #f6f6f6;      
  --text-main: #222222;   
  --text-sub: #444444;
  --band: #d1bfb3;           
  --icon-bg: #b49b8b;        
}

html, body {
  height: 100%;
}

body {
  background: var(--bg-black);
  color: var(--text-main);
  font-family: 'Poppins', sans-serif;
  transition: background 0.3s, color 0.3s;
}



.theme-btn {
  position: fixed;
  top: 20px;
  right: 25px;
  background: var(--band);
  color: var(--text-main);
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 6px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.25s ease;
  z-index: 999;
}

.theme-btn:hover {
  transform: scale(1.08);
}


.site-header {
  padding: 22px 48px;
  display: flex;
  justify-content: center;
}

.nav ul {
  display: flex;
  gap: 80px;
  list-style: none;
}

.nav a {
  color: var(--text-sub);
  text-decoration: none;
}

.nav li.active a {
  font-weight: 700;
  color: var(--text-main);
}

.contact-section {
  padding: 40px 48px;
  padding-bottom: 0;
  min-height: calc(100vh - 180px);
}

.contact-section h1 {
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 40px;
  color: var(--text-main);
}


.social-links {
  display: flex;
  gap: 80px;
  margin-bottom: 60px;
}

.social {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: var(--text-main);
}

.icon {
  width: 60px;
  height: 60px;
  background: var(--icon-bg);
  border-radius: 50%;
  transition: 0.3s;
}

.social:hover {
  opacity: 0.8;
}



.info-box {
  display: flex;
  gap: 200px;
  margin-top: 40px;
}

.info-box h2 {
  font-size: 28px;
  margin-bottom: 8px;
  color: var(--text-main);
}

.info-box ul {
  padding-left: 20px;
}

.info-box ul li {
  color: var(--text-sub);
}

.brown-band {
  width: 100%;
  height: 180px;
  background: var(--band);
  margin-top: 50px;
}
